
<header>
    <div class="wrapper">
            <h1><a href="/">SUMMER SHOWDOWN.</a></h1>
            <ul>
                <li><a href="/volleyball">VolleyBall</a></li>
                <li><a href="/basketball">Basketball</a></li>
                <li><a href="/spikeball">Spikeball</a></li>
                <li><a href="/players">Players</a></li>                   
            </ul>
    </div>
</header>