<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <!--
            Font
        -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Freeman&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="more.css" />
        <title>Meet The Five</title>
    </head>
    <body>
     <%- include('../partials/header.ejs') %>
    <h1 id="main">Meet The "Athletes"</h1>
    <div class="players">
        <div class="eric">
            <h2>
                Eric Mattey
            </h2>
            <img class="im1" src="./photos/IMG_7227.png" alt="Eric">
            <img class="im2" src="./photos/IMG_7226.png" alt="Eric">
            <img class="im3" src="./photos/IMG_7226.png" alt="Eric">
        </div>
        <div class="matthew">
            <h2>
                Matthew Bell 
            </h2>
            <img class="im1" src="./photos/IMG_7225.png" alt="Math">
            <img class="im2" src="./photos/IMG_7224.png" alt="Math">
            <img class="im3" src="./photos/IMG_7224.PNG" alt="Math">
        </div>
        <div class="erik">
            <h2>
                Erik 
            </h2>
            <img class="im1" src="./photos/IMG_7220.png" alt="Erik">
            <img class="im2" src="./photos/IMG_7219.png" alt="Erik">
            <img class="im3" src="./photos/IMG_7219.png" alt="Erik">
        </div>
        <div class="tommy">
            <h2>
                Tommy 
            </h2>
            <img class="im1" src="./photos/IMG_7223.png" alt="Tommy">
            <img class="im2" src="./photos/IMG_7221.png" alt="Tommy">
            <img class="im3" src="./photos/IMG_7221.png" alt="Tommy">
        </div>
        <div class="ty">
            <h2>
                Ty banks
            </h2>
            <img class="im1" src="./photos/IMG_7205.png" alt="Ty">
            <img class="im2" src="./photos/IMG_7206.png" alt="Ty">
            <img class="im3" src="./photos/IMG_7206.png" alt="Ty">
        </div>
    </div>
</body>
</html>